h1.promobox {
	margin:0;
	padding:4px 0 0 15px;
	}
#promobox_top {
	width:850px;
	height:30px;
	background:url("/images/promos/elements/promobox_top.gif") no-repeat;
	}
#promobox_mid {
	 width:848px;
	 _height:411px;
	 min-height:411px;
	 background:#fff;
	 border-left:1px solid #82a3d1;
	 border-right:1px solid #82a3d1;
	 }
#promobox_btm {
	width:850px;
	height:10px;
	background:url("/images/promos/elements/promobox_btm.gif") no-repeat;
	}
/*Temporary Styles for TOCs*/
#Content-Body {width:655px;}
#Center-Col {width:480px;}

/* Start styles for TOC center content */
#toc-middle-content {
	width:480px;
	_height:547px;
	min-height:547px;	
	padding-bottom:15px;
	background:url("/images/tocs/toc-middle-bg.jpg") no-repeat #eae3d3;;	
	}

#toc-middle-top {
	width:434px;
	_height:290px;
	min-height:290px;
	margin:10px auto;
	background:white;
	border:1px solid #999999;
	}
	
#toc-middle-top-b {
	width:434px;
	}
	
#toc-middle-adtext {
	width:305px;
	padding:0 10px 5px 10px;
	float:left;
	}
	
#toc-middle-button {
	float:right;
	_height:47;
	min-height:47px;
	padding:10px 10px 0 0;
	}
	
#toc-middle-visa img {
	width:434px;
	margin:0 22px 0 22px;
	height:38px;
	border:1px solid #999999;
	}
	
#toc-middle-btm {
	width:437px;
	height:135px;
	margin:10px 22px;
	}
	
#toc-middle-btm-a img {
	width:144px;
	height:135px;
	border:1px solid #999;
	float:left;
	}
	
#toc-middle-btm-b img {
	width:144px;
	height:135px;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	float:left;
	}
	
#toc-middle-btm-c img {
	width:144px;
	height:135px;
	float:left;
	border:1px solid #999;
	}
	
#toc-AllDeals-button {
	margin-right:21px;
	padding-bottom:10px;
	text-align:right;
	}
	
#toc-text {
	padding-left:22px;
	width:434px;
	}
	
#vac-city-intro {
	width:415px;
	margin:10px auto;
	}	
	
#vac-hotellist {
	width:434px;
	margin:10px auto;
	text-align:center;
	}
	
#hotel-container {
	width:434px;
	border-bottom:1px dotted #82a3d1;
	margin:7px 0;
	padding-bottom:7px;
	}
		
/* End styles for TOC center content */

/* home page right hand column ticker styles */
#pscroller1{width:429px; height:20px; border:1px solid #999999; margin:10px 0 -3px 10px; padding:5px 0 0 5px; background:#999 url(/images/mini-formlet_bg.jpg) bottom right no-repeat;}
#pscroller1 div{background:#fff url(/images/mini-formlet_bg.jpg) bottom right no-repeat;}/*IE6 bug fix when text is bold and fade effect (alpha filter) is enabled. Style inner DIV with same color as outer DIV*/
#pscroller1 a {font-weight:bold;}

/* Start styles for EasyBiz Tutorial */
#EBtutorial {width:722px;margin-bottom:15px}
#EBtutorial .tut-left {float:left;}
#EBtutorial .tut-right {float:right;}
#EBtutorial .tut-section {clear:both;margin-top:40px;width:722px;}
#EBtutorial .tut-image {margin-left:15px;float:right;}
#EBtutorial-nav {text-align:center;clear:both;width:722px;line-height:12px;}
#EBtutorial-nav .tut-prev {float:left;width:33%;}
#EBtutorial-nav .tut-toc {text-align:center;float:left;width:34%;}
#EBtutorial-nav .tut-next {float:right;width:33%;}
/* End styles for EasyBiz Tutorial */

/* Start styles for TOC content on Gay Travel and possibly others - please check before altering */
#GT-wrap {margin:17px 0 0 0; width:885px; position:relative;}
#Left-Col {float:left; width:190px;}
.GT-content {float:left; margin:0 5px;}
.GT-top {margin-bottom:0} /* this makes it so if greeter is gone, there's still a margin above ribbon */
.GT-visa {margin-top:10px;} /* this makes it so if greeter is gone, there's still a margin above ribbon */
.GT-right-col {float:left; width:200px; margin:0; padding:0;}
/* End styles for TOC center content for Gay travel */

/* Start styles for CSR pages only */
.nav-link-title {padding:1px 0 1px 6px;	border-bottom:1px solid #e7e7e7; font:11px Verdana, Arial, Geneva, Helvetica, sans-serif;    	color:#000066;font-weight:700;}
.nav-link-title a:link {color:#000066;text-decoration:none;font-weight:700;}
.nav-link-title a:visited {color:#000066;text-decoration:none;font-weight:700;}
.nav-link-title a:hover {color:#510000;text-decoration:underline;font-weight:700;}
.nav-link-indent {padding:1px 0 1px 6px; border-bottom:1px solid #e7e7e7; font:11px Verdana, Arial, Geneva, Helvetica, sans-serif; color:#000066; padding-left:12px;margin-bottom:2px;}
.nav-link-indent a:link {color:#000066;text-decoration:none;}
.nav-link-indent a:visited {color:#000066;text-decoration:none;}
.nav-link-indent a:hover {color:#510000;text-decoration:underline;}
.CSR-centerCol {float:left; margin:0 0 0 10px; width:455px; padding-bottom:40px;}
.CSR-rightCol {float:left; margin:40px 0 0 10px; width:200px;}
/* End styles for CSR pages */

/* Start styles for FAQ Accordion style pages */
.expandingMenu {margin:0 0 11px -10px; font-size:11px; color:#000;}
.expandingMenu a:link, a.animate:link {font-size:11px; color:#006;}
.expandingMenu a:visited, a.animate:visited {font-size:11px; color:#006;}
.expandingMenu a:hover, a.animate:hover {font-size:11px; color:#510000; cursor:pointer;}
.expandingSubmenu {margin:5px 0 15px -5px; display:none; font-size:11px; color:#000;}
.expandingSubmenu ul li {list-style-type:disc; margin-bottom:4px;}
.warning {border:1px solid #9F6000; margin:10px 0px; padding:15px 10px 15px 50px; background-repeat:no-repeat; background-position: 10px center; color:#774902; background-color:#FEEFB3; background-image:url("/images/icon_warning.gif"); clear:both; width:100%;} /*This class also controls advisory on homepage.*/
/* End styles for FAQ Accordion style pages */

/* Start styles for javascript tabbed formlets */
ul.formletTabs {padding:0; margin:0; font: bold 11px Verdana; list-style-type: none; width:200px; height:18px; text-align: left;}
.formletTabs li {display: inline; margin:0 -3px 0 0; padding:0;}
.formletTabs li a.unselect, .formletTabs li a {position:relative; text-decoration: none; padding:5px 12px 4px 12px; margin:0; min-height:22px; _height:22px; color:#2d2b2b; font-weight:bold; background:url("/images/home_buttonbar_bg.jpg") top left repeat-x; margin-bottom:1px; outline-style:none;}
.formletTabs li a.unselect:visited, .formletTabs li a:visited {color: #2d2b2b;}
.formletTabs li a.unselect:hover, .formletTabs li a:hover {text-decoration: underline; color: #2d2b2b;}
.formletTabs li a.selected {position:relative; padding:5px 12px 5px 12px; margin:0; min-height:23px; _height:23px; color:#ffffff; font-weight:bold; text-decoration:none; background-image:url("/images/home_buttonbar_flts_bg.jpg");outline:none;}
.formletTabs li a.selected:hover, .formletTabs li a.selected:visited {text-decoration: none; color:#fff;}
#frameContainer {border:1px solid #82A3D1; width:200px; margin:0; min-height:200px; _height:200px;}
#_tabIFrame {padding:0; margin:0;}
/* End styles for javascript tabbed formlets */

.clear {clear:both;}
ol.spacing li {margin-bottom:7px;}
#accessibility, .accessibility {position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden;} /* This hides accessibile content to plain sighted viewers */

/*Begin Styles for CSS Flexible Form Box*/
.CSSBoxTopLeft, .CSSBoxTopRight, .CSSBoxBottomLeft, .CSSBoxBottomRight {background-image:url("/images/cssBox.png");}
.CSSBoxTopLeft {height:10px; background-position:0 0;}
.CSSBoxTopRight {height:10px; background-position:100% 0; margin-left:30px;}
.CSSBoxBottomLeft {height:28px; background-position:0 100%;}
.CSSBoxBottomRight {height:28px; background-position:100% 100%; margin-left:20px;}
.CSSBoxLeft {background-image:url("/images/cssBox_Left.png"); background-repeat:repeat-y;}
.CSSBoxRight {background-image:url("/images/cssBox_Right.png"); background-position:100% 0; background-repeat:repeat-y; margin-left:1px;}
.CSSBoxContent {padding-bottom:10px; margin-right:17px; margin-left:7px;}
hr.CSSBox {height:2px; margin:0; padding:0; color:#c0d1e8; background:#c0d1e8 url(/images/cssBox_divider.gif) repeat-x; border:0;}
/*End Styles for CSS Flexible Form Box*/

/*Fare Sale tiles that are hardcoded */
a.tile {cursor:pointer; text-decoration:none;}
a.tile:hover, a.tile:visited {text-decoration:none;} /* underlines are messy in IE */
.fs-wrap {float:left; width:97px; height:126px; margin:5px 0 0 11px; background:url('/images/promos/FareSale_button.gif') no-repeat;}
.fs-price-wrap {text-align:center; font-weight:bold; margin-top:5px;}
.fs-dollar {font-size:12px; vertical-align:16px; margin-right:-4px;}
.fs-price {font-size:34px;}
.fs-oneway {text-align:center; font-size:10px; font-weight:normal; clear:both; margin-top:-8px; text-decoration:underline;}
.fs-between {text-align:center;font-size:10px;font-weight:normal;clear:both;margin:6px;}
.fs-cities {clear:both; margin-top:4px; text-align:center; font-size:12px; font-weight:bold;}
.fs-and {font-weight:normal;}

/* All Deals test version (B)*/
#wrap {width:850px; min-height:600px; margin:15px; padding:0; position:relative;}
#price-tiles {width:683px; }
#deals-content {width:683px; _height:500px; min-height:500px; }
#deals-box {width:668px; padding:10px 0 0 10px; clear:both;}
#deals-left {width:385px; float:left; padding-left:15px;}
#deals-right {width:400px; float:left;}
#deals-left a, #deals-right a {line-height:20px; padding-left:15px;}	
h2.deals {margin:10px 0 -5px 0; padding:5px 0 0 8px; color:#fff; background:url('/images/promos/alldeals/alldeals-h2.gif') no-repeat; width:320px; height:25px;}
h3.deals {margin-bottom:0; padding-bottom:0; color:#01194c;}
.box-top {width:800px; height:10px; background:url('/images/promos/alldeals/alldeals-box-top.gif') no-repeat; margin:0 0 -3px 0; padding:0; position:relative;}
.box-main {width:800px; _height:10px; min-height:10px; background:url('/images/promos/alldeals/alldeals-box-bg.gif') repeat-y; margin:0px; padding:3px 0 5px 0; position:relative;}
.box-bottom {width:800px; height:10px; background:url('/images/promos/alldeals/alldeals-box-bttm.gif') no-repeat; padding:0px; margin:0 0 15px 0;}
.tile-wrap {float:left; width:97px; height:126px; padding:0 0 30px 14px; margin-left:1px;}

/* Redesign Styles */
.roundShadow {border:1px solid #DCDCDC; -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px; -moz-box-shadow: 3px 3px 3px #DCDCDC; -webkit-box-shadow: 3px 3px 3px #DCDCDC; box-shadow: 3px 3px 3px #DCDCDC;}